body{
    margin:0px;
    overflow:hidden;
}

.btn{
    outline:none !important;
}

.form-group label {
    float: left;
    text-align: left;
    font-weight: normal;
}

.form-group select {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

#treeSectionDiv {
    overflow: auto;
}

#plotControls {
    min-height: 34px;
    width: auto;
}

.debugRed {
    border: solid red 5px;
}

.debugBlue {
    border: solid blue 5px;
}

.debugGreen {
    border: solid green 5px;
}

#logoImage {
    margin-top:-8%;
    display: inline-block;
    vertical-align:middle
}
