body{
    margin:0px;
    overflow:hidden;
}

.btn{
    outline:none !important;
}

.form-group label {
    float: left;
    text-align: left;
    font-weight: normal;
}

.form-group select {
    display: inline-block;
    vertical-align: middle;
}

#treeSectionDiv {
    overflow: auto;
    display: none;
}

#plotControls {
    min-height: 34px;
    width: auto;
}

.debugRed {
    border: solid red 5px;
}

.debugBlue {
    border: solid blue 5px;
}

.debugGreen {
    border: solid green 5px;
}

#logoImage {
    margin-top:-8%;
    display: inline-block;
    vertical-align:middle
}

/* Login & Logout buttons/links/menus */
a.menu_links {
    cursor: pointer;
}

#loginButton, #logoutButton, #loginButtonMobile, #logoutButtonMobile {
    display: none;
}

/* Page loading icon stuff */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
        height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to welcome message */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}

/* Center the welcome message */
.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    width: auto;
    border: solid #3a74ad 5px;
}

.flex-item {
    padding: 5px;
    width: 300px;
    height: 40px;
    margin: 10px;
    line-height: 40px;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    color: #3a74ad;
}


/* image series input range */
#imageSeriesSlider .slider-selection {
    background: #8283FF;
}
#imageSeriesSlider  .slider-track-high {
    background: #9798d8;
}
#imageSeriesSlider .slider-handle {
    border-bottom-color: blue;
}
#imageSeriesSlider {
    width: 100%;
}
#inputNumberDiv {
    width: 100%;
}
.btn-labels,
.btn-labels:focus, .btn-labels.focus
.btn-labels:active, .btn-labels.active,
.btn-labels:hover {
    background-color:   #222;
    color:              #fff;
    border-color:       #080808;
}
#startButton {
    text-align:         right;
    width:              50px;
}
#endButton {
    text-align:         left;
    width:              100px;
}

/* navbar stuff */
@media (max-width: 978px) {
    .container, .container-fluid {
        padding:0;
        margin:0;
    }

    body {
        padding:0;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-left: 0;
        margin-right: 0;
        margin-bottom:0;
    }
}
