.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
    color: white;
}

.navbar li {
    float: right;
}

.navbar li a:hover {
    background-color: #111;
}
/*
.navbar li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    text-decoration: none;
    cursor: pointer;
}
*/
.navbarbtn {
    display: inline-block;
    color: white;
    text-align: center;
    display: inline-block;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    text-decoration: none;
    cursor: pointer;
}

.barimage {
    display: inline-block;
    color: white;
    text-align: center;
    display: inline-block;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    text-decoration: none;
}

.navbarbtnimg {
    display: inline-block;
}

/* The mobile dropdown menu */
li.dropdown {
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #222;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #111
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Media queries */
@media handheld, screen and (max-width: 767px) {
    li.dropdown {
        display: inline-block;
    }
    .navbarbtn {
        display: none;
    }
}
