body {
    font-family: "Lato", sans-serif;
    font-size: 18px;
}

/* The nav menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.sidenav a,
.sidenav span {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover,
.offcanvas a:focus,
.sidenav span:hover,
.offcanvas span:focus{
    color: #f1f1f1;
}

/* Buttons in the nav menu */
.sidenav .closebtn,
.sidenav .pinbtn {
    position: absolute;
    top: 0;
    font-size:30px;
    cursor:pointer;
}
.sidenav .closebtn {
    left: 0;
}

.sidenav .pinbtn {
    right: 25px;
    margin-left: 50px;
}


/* The pin button */
.openbtn {
    color: white;
    font-size:20px;
    cursor:pointer;
}

/* Rotate the pin button when clicked */
.rotate {
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.rotate.down {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
