/* image series input range */
#imageSeriesSlider .slider-selection {
    background: #8283FF;
}
#imageSeriesSlider  .slider-track-high {
    background: #9798d8;
}
#imageSeriesSlider .slider-handle {
    border-bottom-color: blue;
}
#imageSeriesSlider {
    width: 100%;
}

input[type='range'] {
    overflow: hidden;
    width: 800px;
    -webkit-appearance: none;
    background-color: #2f2f2f;
    margin-top : 5px;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 25px;
    -webkit-appearance: none;
    color: #111;
    margin-top: -1px;
}

input[type='range']::-webkit-slider-thumb {
    width: 25px;
    -webkit-appearance: none;
    height: 25px;
    cursor: ew-resize;
    background: #222;
}

.imageSeriesButton {
    text-align:         right;
    width:              50px;
}

.imageSeriesButton  {
    display: inline-block;
    color: #DDDDCE;
    text-align: center;
    display: inline-block;
    padding-top: 4px;
    padding-right: 16px;
    padding-bottom: 3px;
    padding-left: 16px;
    text-decoration: none;
    cursor: pointer;
}

.imageSeriesButton :hover {
    background-color: #111;
}

#startButton {
    text-align:         right;
    width:              50px;
}
#endButton {
    text-align:         left;
    width:              100px;
}

.inputNumber {
    display: inline-block;
    color: #DDDDCE;
    text-align: center;
    display: inline-block;
    padding-top: 2px;
    padding-right: 16px;
    padding-bottom: 2px;
    padding-left: 16px;
    text-decoration: none;
}

.inputNumber:hover {
    background-color: #111;
}

input {
    width: 100%;
    font-size: 1em;
    /*
    height: 1.5em;
    */
    line-height: 1.5em;
}

span {
    display: block;
    overflow: hidden;
    padding: 0;
}
