/*Sizing & Transition*/

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*
* {
    margin: 0;
    padding: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
*/

.main, .headerimage, p, h2 {
    margin: 0;
    padding: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
html, body {
    height: 100%;
}


/*Wrapper*/

.main {
    padding: 20px;
    width: 100%;
    height: 100%;
}


/*Headline*/

h2 {
    text-align: center;
    text-transform: uppercase;
    font: 70px Helvetica, Arial, sans-serif;
    margin-bottom: 20px;
}

h2:after {
    content: " On"
}


/*Feature Paragraphs*/

.features {
    width: 940px;
    margin: 0 auto 30px auto;
}

.features p {
    width: 33.33%;
    float: left;
    padding: 0 20px;
    font: 13px/1.5 Helvetica, Arial, sans-serif;
}

.last {
    padding-right: 0;
}

.features:after {
    content: "";
    display: table;
    clear: both;
}


/*Big Photo*/

.headerimage {
    height: 400px;
    width: 900px;
    margin: 0 auto;
    background-image: url('../images/maxiv_snow_view.jpg');
}


/*Light Switch*/

label {
    display: block;
    height: 25px;
    width: 100px;
    background: #eee;
    text-align: center;
    font: 14px/25px Helvetica, Arial, sans-serif;
    margin: 20px 0;
}

label:hover {
    background: #ddca7e;
    color: #fff;
    cursor: pointer;
}

input#lightswitch {
    position: absolute;
    top: -9999px;
    left: -9999px;
}


/*Switched Off*/

input#lightswitch:checked + .main {
    background: #222;
}

input#lightswitch:checked + .main h2 {
    color: #ddca7e;
}

input#lightswitch:checked + .main h2:after {
    content: " Off"
}

input#lightswitch:checked + .main p {
    color: #aaa;
}

input#lightswitch:checked + .main > .headerimage {
    background-image: url('../images/maxiv_nattbilder.jpg');
    border: 8px solid #fff;
}
