/* Animate the theme transitions */
* {
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

/* Page body and general items */
.darkTheme {
    color: #999;
    background: #181817;
}

/* Modify the jstree dark theme */
.jstree-default-dark {
    background: #222;
    color: #999;
}
