/* Animate the theme transitions */
* {
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

/* Page body and general items */
.darkTheme {
    color: #999;
    background: #181817;
}

/* buttons */
.btn-darkTheme {
    color: #a9a9a9;
    border-color: #080808;
    background-color: #2f2f2f;
 }

.btn-darkTheme:hover, .btn-darkTheme:focus, .btn-darkTheme:active,
.btn-darkTheme.active, .open .dropdown-toggle.btn-darkTheme {
    color: #ffffff;
    border-color: #080808;
    background-color: #222;
}

/* Modify the navmenu dark theme */
.navmenu-inverse {
    color: #999;
}

/* Modify the jstree dark theme */
.jstree-default-dark {
    background: #222;
    color: #999;
}
