/* Animate the theme transitions */
* {
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}

/* For the page body and general items */
.darkTheme {
    background: #181817;
    color: #999;
}

/* For buttons */
.btn-darkTheme {
    color: #ffffff;
    background-color: #777;
    border-color: #555;
 }

.btn-darkTheme:hover, .btn-darkTheme:focus, .btn-darkTheme:active,
.btn-darkTheme.active, .open .dropdown-toggle.btn-darkTheme {
    color: #ffffff;
    background-color: #888;
    border-color: #444;
}

/* Modify the navmenu dark theme */
.navmenu-inverse {
    color: #999;
}

/* Modify the jstree dark theme */
.jstree-default-dark {
    background: #222;
    color: #999;
}

/* For the plotly plotting canvas */
